<div class="container transactions-container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Recent Transactions</h2>
        <a href="/transactions" style="text-align: end;">View all</a>
    </div>

    <% recentTransactions.forEach(transaction => { %>
        <div class="transaction-item">
            <div class="transaction-details">
                <span class="transaction-icon"><i class="fas fa-coins"></i></span>
                <% if (transaction.description === 'Withdraw') { %>
                    <span class="transaction-description" style="color: red;"><%= transaction.description %></span> 
                    <span class="transaction-amount"> -<%= transaction.amount %> BTC to <%= user.wishlistedAddress %></span>
                <% } else { %>
                    <span class="transaction-description" style="color: green;"><%= transaction.description %></span>  +
                    <span class="transaction-amount"> <%= transaction.amount %>TH</span>
                <% } %>
                
                <span class="transaction-date"><%= transaction.timestamp.toISOString().split('T')[0] %></span>
            </div>
        </div>
    <% }) %>
</div>
