<div class="container transactions-container">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Recent Transactions</h2>
        <a href="/transactions" style="text-align: end;">View all</a>
    </div>

<<<<<<< HEAD
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr class="highlight">
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% recentTransactions.forEach((transaction, index) => { %>
                        <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td <% if (transaction.description === 'Withdraw') { %>style="color: green;"<% } else { %>style="color: red;"<% } %>><%= transaction.description %></td>
                            <td><%= transaction.amount %></td>
                            <td><%= transaction.timestamp.toISOString().split('T')[0] %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
=======
    <% recentTransactions.forEach(transaction => { %>
        <div class="transaction-item">
            <div class="transaction-details">
                <span class="transaction-icon"><i class="fas fa-coins"></i></span>
                <% if (transaction.description === 'Withdraw') { %>
                    <span class="transaction-description" style="color: red;"><%= transaction.description %></span> 
                    <span class="transaction-amount"> -<%= transaction.amount %> BTC to <%= user.wishlistedAddress %></span>
                <% } else { %>
                    <span class="transaction-description" style="color: green;"><%= transaction.description %></span>  +
                    <span class="transaction-amount"> <%= transaction.amount %>TH</span>
                <% } %>
                
                <span class="transaction-date"><%= transaction.timestamp.toISOString().split('T')[0] %></span>
            </div>
        </div>
    <% }) %>
>>>>>>> 457600ca7dca67c83b1245268631f0fb6b684f65
</div>
